extends ../layout

block content
    h1.
        Detalji #{projectnaziv}
    p Naziv: #{project.naziv}
    p Opis: #{project.opis}
    p Cijena: #{project.cijena}
    p Obavljeni: #{project.obavljeni}
    p Pocetak: #{project.pocetak}
    p Zavrsetak: #{project.zavrsetak}
    a(href='/projects') Nazad
